# Configuration file

~CONFIG_VERSION: 0.1.0

world-1128767194 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=furna
    B:overlayEnabled=true
}


world-1974054333 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1690200562 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@applied
    B:overlayEnabled=true
}


world1855637915 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@dalek spawn
    B:overlayEnabled=true
}


world3556498 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world856609915 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=false

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=@enderio

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


